{% extends 'minegocio/base.html' %}

{% block contenido %}
  <main>
    <h1>Bienvenido a Mi Negocio</h1>
    <p>Bienvenido a la página de inicio de Mi Negocio. Aquí podrás gestionar vendedores, transacciones y más.</p>

    {% if not user.is_authenticated %}
      <div>
        <a href="{% url 'minegocio:login' %}">
          <button>Iniciar sesión</button>
        </a>
        <a href="{% url 'minegocio:signup' %}">
          <button>Registrarse</button>
        </a>
      </div>
    {% endif %}
    
    <a href="{% url 'minegocio:vendedor_list' %}"><button>Vendedores</button></a>
    <a href="{% url 'minegocio:transaccion_list' %}"><button>Transacciones</button></a>
    <a href="{% url 'minegocio:reporte_list' %}"><button>Reportes</button></a>
  </main>
{% endblock %}
