{% extends 'minegocio/base.html' %}

{% block contenido %}
    <h1>Detalles de la Transacción</h1>
    <p><strong>Vendedor:</strong> {{ transaccion.dni.nombre }}</p>
    <p><strong>DNI del Vendedor:</strong> {{ transaccion.dni.dni }}</p>
    <p><strong>Producto:</strong> {{ transaccion.get_producto_display }}</p>
    <p><strong>Cantidad:</strong> {{ transaccion.cantidad }}</p>
    <p><strong>Monto:</strong> {{ transaccion.monto }}</p>
    <p><strong>Fecha:</strong> {{ transaccion.fecha }}</p>
    
    <a href="{% url 'minegocio:transaccion_list' %}"><button>Volver a la lista</button></a>
{% endblock contenido %}
