{% extends 'core/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h1>Detalles del Vendedor</h1>
        </div>
        <div class="card-body">
            <p><strong>Nombre:</strong> {{ vendedor.nombre }}</p>
            <p><strong>DNI:</strong> {{ vendedor.dni }}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'minegocio:vendedor_list' %}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}

