{% extends 'minegocio/base.html' %}

{% block contenido %}
    <h1>Lista de Vendedores</h1>
    <a href="{% url 'minegocio:vendedor_create' %}"><button>Crear Vendedor</button></a>
    <table>
        <thead>
            <tr>
                <th>nombre</th>
                <th>dni</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.nombre }}</td>
                    <td>{{ object.dni }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'minegocio:index' %}"><button>Volver</button></a>
{% endblock contenido %}

