{% extends 'core/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="h4 mb-0">Editar Vendedor</h2>
        </div>
        <div class="card-body">
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
