{% load static %}

<h1>Nosotros</h1>
<p>¡Hola! En nuestra plataforma, te ofrecemos una solución integral para visualizar y analizar los datos clave de ventas de tu negocio. Con herramientas intuitivas y accesibles, podrás generar reportes detallados, realizar análisis de rendimiento y tomar decisiones basadas en información precisa y actualizada.</p>

<p>Explora nuestra plataforma y comienza a transformar los datos de ventas en insights valiosos para tu empresa. ¡Todo lo que necesitas para entender y mejorar tu desempeño de ventas está aquí!</p>

<img src="{% static 'core/img/perfil.png' %}" alt="" height=35%>

<p>Linkedin</p>
<a href="{% url 'core:index' %}">Inicio</a>

